#cover{
	background: black;
	background-size: cover;
	height: 45em;
	text-align: center;
}
.navbar{
	background-color: transparent;
	border-color: transparent; 
}
#myNavbar ul li a{
	color: white;
}
.navbar-brand{
	color: cyan;
}
#cover-text{
	min-height: 300px;
}
#social 
{
	margin-top: 100px; 
	text-align: center;
}
#social li{
	display: inline-block;
}
#login{
	margin-top: 50px;
}
#myModal{
	opacity: 0.95;
}
.btn-default 
{
	border-radius: 0px;
	border: 1px solid cyan;
	background-color: transparent;
	color: cyan;
}
.btn-default:hover{
	border: 1px solid cyan;
	background-color: cyan;
	color: black;

}
a{
	color: cyan;
}
h1{
	color: #fff;
	text-align: center;
}
/*css for post section starts here*/
#postsection{
	background-color: grey;
	min-height: 700px;
}
#posts img{
	border-radius: 5px;
	height: 300px;
	width: 300px;
	margin: 20px;
}
#posts img:hover{
	opacity: 0.5
}


/*css for form starts here*/
#signup{
	background-color: black;
	min-height: 500px;
}
#signup form{
	text-align: center;
}
#signup h1{
	margin: 50px;
}
#signup form label{
	color: cyan;
	height: 40px;
	width: 100px;
	border: 1px solid white;
	margin-right: 30px; 
	border-radius: 5px;
}
#signup input{
	height: 40px;
	width: 130px;
	padding-bottom: 19px;
	border-radius: 5px;

}

/*css for footer */
footer{
  z-index: 1 !important;
  position: static !important;
  background-color: #181616 !important;
  height: 100px;
}
.footer-bottom-content{
	margin-top: 20px;
}
.footer-content-left{
	text-align: left;
	color: white;
	display: inline-block;
}
.footer-content-right{
	text-align: right;
	display: inline-block;
	margin-left: 300px;
}
footer ul li{
	display: inline;
	margin-right: 20px;
}