<%- include('partials/header') %>
<%- include('partials/navbar') %>

	<div class= "sect sectOne" id="a1" data-stellar-background-ratio="0.5">
	<content>
	<div class="container fadeInDown animated">
	<center>
		<h1 style="position: relative; top:180px; color: white; font-family: Lobster; font-size: 140px;">Artworld </h1>
		<h3 style="position: relative; top: 200px; font-family: sans-serif, Helvetica Neue, Helvetica, Arial; letter-spacing: 0.1em; color:" >Welcome to a Social World for the Artist in you.</h3>
	</center>
	</div>
	</content>
	<div class="container wow bounceInUP animated" data-wow-delay="2s">
	<div class="social">
	    <center>
	   <li><a href="https://www.facebook.com/shwetanshu.rohatgi"><img src="img/facebook.svg" style="height:5%; width:5%; position: relative; top:350px;"/></a></li>
	   <li><a href="https://in.linkedin.com/in/shwetanshu-rohatgi-4a4728108"><img src="img/twitter.svg" style="height:4%; width:4%; position: relative; top:350px;"/></a></li>
	   <li><a href="mailto:shwetanshu.rohatgi@gmail.com"><img src="img/google+.svg" style="height:5%; width:5%; position: relative; top:350px;"/></a></li>
	    </center>
	</div>
	</div>
	</div>

  <div class="sect sectTwo">
    <div class="row">
      <div class="col-md-4 tiles">
        Paintings
      </div>
      <div class="col-md-4 tiles">
        Sketches
      </div>
      <div class="col-md-4 tiles">
        Handicrafts
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 tiles">
        Sculptors
      </div>
      <div class="col-md-4 tiles">
        Photography
      </div>
      <div class="col-md-4 tiles">
        Kidart
      </div>
    </div>
  </div>


<%- include('partials/footer') %>