

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<style>

ul{
  display: inline;
}
li {
    display: inline;    
}

.sect{
    height: 100%;
    background-size: cover;
   
}

.sectOne{
    background-color: black;
      
}
.sectTwo{
  color:black;
  font-size: 20px;
}



h1{
  text-align: center;
}
</style>

</head>
<body>

<div data-role="page" class= "sect sectOne" id="pageone" data-stellar-background-ratio="0.5">

  <div data-role="main" class="ui-content">
   <content>
	<div class="container fadeInDown animated">
	<center>
		<h1 style="position: relative; top:180px; color: white; font-family: Lobster; font-size: 140px;">Artworld </h1>
		<h3 style="position: relative; top: 200px; font-family: sans-serif, Helvetica Neue, Helvetica, Arial; letter-spacing: 0.1em; color:" >Welcome to a Social World for the Artist in you.</h3>
	</center>
	</div>
	</content>
	<div class="container wow bounceInUP animated" data-wow-delay="2s">
	<div class="social">
	    <center>
	   <li><a href="https://www.facebook.com/shwetanshu.rohatgi"><img src="facebook.svg" style="height:5%; width:5%; position: relative; top:350px;"/></a></li>
	   <li><a href="https://in.linkedin.com/in/shwetanshu-rohatgi-4a4728108"><img src="twitter.svg" style="height:4%; width:4%; position: relative; top:350px;"/></a></li>
	   <li><a href="mailto:shwetanshu.rohatgi@gmail.com"><img src="google+.svg" style="height:5%; width:5%; position: relative; top:350px;"/></a></li>
	    </center>
	</div>
	</div>
    <div>
    <center><a href="#pagetwo" data-transition="slideup">Slide up to Page Two</a></center>
  </div>
  </div>

  
</div>

<div data-role="page" id="pagetwo" class="sect sectTwo">
  

  <div data-role="main" class="ui-content">
  	<div class="row">
      <div class="col-md-4 tiles">
        Sculptors
      </div>
      <div class="col-md-4 tiles">
        Photography
      </div>
      <div class="col-md-4 tiles">
        Kidart
      </div>
    </div>
    <center><a href="#pageone">Go to Page One</a></center>
  </div>

  
</div>

</body>
</html>

